<?xml version="1.0" encoding="utf-8"?>
<!-- 
This file is used when hosting your app in IIS. It can be ignored if your app will be hosted using 
Kestrel or HTTP.sys.
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" ></aspNetCore>
    </system.webServer>
  </location>
</configuration>
